:root {
	--teal:  #179B92;
	--light-teal:  #D5FAF8;
	--light-gray:  #dbdbdb;
	--base-font-size: 1em;
}	

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-weight: bolder;
	font-size: var(--base-font-size);
}



p {
	margin: 20px 0px;
}

img {
	border-radius: 10px;
	max-width: 100%;
	width: 640;
}

body {
	background-color: #ffffff; 
	/* background-image: url("Images/golden-pavilion.jpg"); */
	background-attachment: fixed;
	background-size: 100%;
	font-family: "Quicksand", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Add a SectionTitle background color to the top navigation */
.topnav {
	background-color: var(--teal); 
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
	color: #f2f2f2;
	text-align: center;
	/* padding: 14px 16px; */
	text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #D5FAF8;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.Page{
	max-width: 1000px;
	padding-left: 100px;
	padding-right: 100px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}



.PageTitle {
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: "Quicksand", cursive;
	text-align: left;
	font-size: 2em;
	color: var(--teal);
	font-weight: bold;
	/* box-shadow: 3px 3px 10px rgba(0,0,0,0.50); */
	/* border-radius: 10px; */
}

.intro {
	display: flex;
	flex-wrap: wrap;
	padding: 50px 100px;
	max-width: 800px;
	align-items: center;
	margin: 0 auto; /* center the container */
}

.intro-text {
	margin: 10px 0px;
}

.footer-head {
	display: flex;
	padding-bottom: 20px;
	align-items: center;
}

.footer {
	background-color: var(--light-gray);
	margin-top: auto; /* footer at the bottom */
	padding: 50px;
	margin-bottom: 50px;
}

.headshot {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10px;
}

.headshot img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

/* if width or padding are changed, change .PicAndName height as well */
.PicAndName {
	width: auto;
	height: 200px;
	/* box-shadow: 3px 3px 10px rgba(0,0,0,1); h-offset v-offset blur color */
	/* padding: 10px; space around pic and name */
	font-family: "Quicksand", sans-serif;
	text-align: center;
	/* background-color: white; */
	margin: 15px; /* space around each div. 
				so the space between images will be twice the margin*/
	position: relative;
}

/* selects all imgs that are children of PicAndName */
.PicAndName > img {
	width: 100%; /* this makes the picture the same width as the parent div, PicAndName */
	height: 100%; /* = width - 2 * padding */
	border-radius: 5%
}

.date-box {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: white;
	color: rgb(45, 45, 45);
	padding: 5px 10px;
	border-radius: 5px;
	overflow: hidden;
  }

.FOverview {
	flex-wrap: wrap;
	display:flex;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.FSectionSquare {
	background-color: var(--light-teal);
	float: left;
	margin: 20px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.50);
	max-width: 250px;
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction:column;
	align-items: center;
	flex-grow:1;
	border-radius: 5%;
	overflow: hidden;
	box-sizing: border-box;
	text-decoration: none;
}


.FSection {
	background-color: var(--light-teal);
	float: left;
	margin: 20px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.50);
	max-width: 400px;
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction:column;
	align-items: center;
	flex-grow:1;
	border-radius: 5%;
	overflow: hidden;
	box-sizing: border-box;
	text-decoration: none;
}

.FSection:hover {
	background-color:  #46D1C8;
	box-shadow: 3px 3px 20px rgba(0,0,0,0.50);
}

/* Style the links inside the navigation bar */
.SectionTitle a {
	display: block;
	float: left;
	width: 100%;
	color: #f2f2f2;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease;
}

/* Change the color of links on hover */
.SectionTitle a:hover {
	background-color: #46D1C8;
	color: white;
	white-space: normal;
	word-wrap: break-word;
}
/* Add a color to the active/current link */
.SectionTitle a.active {
	background-color: #4CAF50;
	text-align: center;
	color: white;
	margin: 10px;
}


.SectionTitle {
	width: 100%;
	text-align: center;
	font-family: "Quicksand", cursive;
	color: white;
	background-color: #179B92;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.50);
	text-decoration: none;
	padding: 20px;
}


.subtitle {
	color: rgb(45, 45, 45);
	margin: 20px;
	text-decoration: none;
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.left-links {
	margin-right: auto;
}
  
.right-links {
	margin-left: auto;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 500px) {
	/* :root {
		/* --base-font-size:1.25em; Adjust the base font size for smaller screens */
	  /* } */ 
	
	.PageTitle {
	  font-size: 1em;
	}

	.FOverview {
	  padding-left: 20px;  /* Adjust padding for narrower screens */
	  padding-right: 20px;
	}

	.intro {
		padding: 20px;
	}


  
}
