* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

body {
	background-image: url("Images/golden-pavilion.jpg");
	background-attachment: fixed;
	background-size: 100%;
}

/* Add a SectionTitle background color to the top navigation */
.topnav {
	background-color: #179B92; 
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	font-family: "Quicksand", sans-serif;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #D5FAF8;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.PageTitle {
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	width: 600px;
	font-family: "Merienda", cursive;
	text-align: center;
	font-size: 4em;
	color: white;
	background-color: #46D1C8;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.50);
}

/* if width or padding are changed, change .PicAndName height as well */
.PicAndName {
	width: 250px;
	height: 275px;
	box-shadow: 3px 3px 10px rgba(0,0,0,1); /* h-offset v-offset blur color */
	padding: 10px; /* space around pic and name */
	font-family: "Quicksand", sans-serif;
	text-align: center;
	background-color: white;
	margin: 15px; /* space around each div. 
				so the space between images will be twice the margin*/
}

/* selects all imgs that are children of PicAndName */
.PicAndName > img {
	width: 100%; /* this makes the picture the same width as the parent div, PicAndName */
	height: 230px; /* = width - 2 * padding */
}

.OrigamiOverview {
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
}
.OrigamiSection {
	background-color: #D5FAF8;
	float: left;
	margin: 20px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.50);
	max-width: 600px;
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction:column;
	align-items: center;
	flex-grow:1;
}

.SectionTitle {
	width: 100%;
	text-align: center;
	font-family: "Merienda", cursive;
	font-size: 2em;
	color: white;
	background-color: #179B92;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.50);
}
